# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GameJam5.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Daten\Godot\GameJam5\.idea\.idea.GameJam5.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
